
 .nav-button {
  display: block;
  width: 20%;
  min-width: 120px;
  border-radius: 1px solid black;
  background: black;
  color: white;
  padding: 0.5em;
  text-decoration: none;
  transition: opacity 0.15s linear;
  text-transform: uppercase;
 }

 .nav-button:hover {
  opacity: 0.7;
 }

 .nav-container {
  float: left;
 }